// main: style.less

@yellow: #F3CD03;
@blue-light: #00B6F0;
@blue: #112D57;
@blue-dark: #182333;
@black: #20262A;
@gray: #5C5C5C;
@white: #fff;

@computer-w: ~"(max-width: 1980px)";
@computer-h: ~"(max-height: 1080px)";
@computer-sm-w: ~"(max-width: 1660px)";
@computer-sm-h: ~"(max-height: 900px)";
@notebook: ~"(max-width: 1200px)";
@tablet: ~"(max-width: 960px)";
@mobile: ~"(max-width: 769px)";
@mobile-sm: ~"(max-width: 560px)";
@mobile-sm-h: ~"(max-height: 753px)";
@mobile-supersm: ~"(max-width: 475px)";
@mobile-micro: ~"(max-width: 360px)";
